.header {
  background-color: #1f1f1f; // Dark background
  width: 100%;
  font-family: 'Roboto', sans-serif;
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  /* Vertically center items if you want */
  align-items: center;
  margin-bottom: 20px;
}



.logo-container {
  display: flex;
  cursor: pointer;
  margin-left: 15%;

  .stocks-icon {
      color: #24c1a7;  // Your preferred icon color
      font-size: 2.4rem; // Adjust icon size  
      transform: translateY(4px);
    }
}


.logo-text {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: 600;
  margin-left: 7px;
  font-family:sans-serif;
  font-family: 'Roboto', sans-serif;
}

.explore-button{
  margin-right: 15%;
}
.explore-button button {
  background-color: #ffffffbb;
  color: #1f1f1fed;
  padding: 0.7rem 2rem;
  border: none;
  border-radius: 18px;
  font-weight: 600;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;

  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: #e4e4e4;
  }

}
